.link-tip-wrapper {
    position: absolute;
    z-index: 2;
    width: 140px;
    .link-input-wrapper {
        display: flex;
        flex-direction: column;
            
        &>:nth-child(2) {
            margin-top: 3px;
        }
        .link-input {
            color: @bar-font-color;
            font-size: 1px !important;
            background-color: @bar-color;
            &::placeholder {
                .placeholder();
            }
            &:focus {
                outline: none;
            }
            border: none;
            border-radius: 10px;
        }
    }
}